{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ZCloud</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="ZCloud" />
    <meta name="keywords" content="ZCloud"/>
    <meta name="author" content="CodedThemes"/>
    
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'login/images/logo-128.png' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'dashboard/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'dashboard/plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/" class="b-brand">
                        <img src="{% static 'login/images/logo-128.png' %}" alt="Avatar">
                    <span class="b-title">ZCloud</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label><h5 style="color: yellow;">Cloud Servers</h5></label>
                    </li>
                    {% for vm in request.session.vms %}
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">{{vm.name}}</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'summary' vm.name %}" class="">Summary</a></li>
                            <li class=""><a href="{% url 'console' vm.name %}" class="">Console</a></li>
                            <li class=""><a href="{% url 'backup' vm.name %}" class="">Backup</a></li>
                            <li class=""><a href="{% url 'snapshots' vm.name %}" class="">Snapshots</a></li>
                            <li class="active"><a href="{% url 'firewall' vm.name %}" class="">Firewall</a></li>
                        </ul>
                    </li>
                    {% endfor %}
                    <li data-username="" class="nav-item">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">Helpdesk</span></a>
                      </li>
                      
                    <li data-username="" class="nav-item">
                        <a href="{% url 'logs' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Logs</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
            <a href="index.html" class="b-brand">
                   <div class="b-bg">
                       <i class="feather icon-trending-up"></i>
                   </div>
                   <span class="b-title">ZCloud</span>
               </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="javascript:">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">Notifications</h6>
                                <div class="float-right">
                                </div>
                            </div>
                                
                            <ul class="noti-body">
                                {% for notification in notifications %}
                                  <li class="notification">
                                      <div class="media">
                                          <img class="img-radius" src="{{client.logo.url}}" alt="Generic placeholder image">
                                          <div class="media-body">
                                              <p class="ml-3"><strong><a href="{% url 'notifications' notification.id %}">{{notification.heading1}}</a> </strong></p>
                                              <p>{{notification.heading2}}</p>
                                          </div>
                                      </div>
                                  </li>
                                  {% endfor %}
                              </ul>
                            <div class="noti-footer">
                                <a href="javascript:"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="{{client.logo.url}}" class="img-radius" alt="User-Profile-Image">
                                <span>{{client.company_name}}</span>
                                <a href="#" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="{% url 'cloudservers' %}" class="dropdown-item"><i class="feather icon-clipboard"></i>Dashboard</a></li>
                                <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="feather icon-lock"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center ">
                            {% for message in messages%}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{message}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <a href="{% url 'firewall' vm.name %}">
                                    <small>
                                        refresh
                                    </small>
                                </a>
                              </div>
                            {% endfor %}
                        </div>
                        <br>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <label><h5 style="color: blue;">Options</h5></label>
                            <div class="row">
                                <div class="col-xl-12 col-md-12 m-b-30">
                                    <form action="{% url 'firewall_options' request.session.vmname %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="name">Firewall</label>
                                                <select name="firewall" class="form-control" id="">
                                                    {% if options.enable == 1 %}
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    {%else%}
                                                    <option value="no">No</option>
                                                    <option value="yes">Yes</option>
                                                    {% endif%}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">DHCP</label>
                                                <select name="dhcp" class="form-control" id="">
                                                    {% if options.dhcp == 1 %}
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    {%else%}
                                                    <option value="no">No</option>
                                                    <option value="yes">Yes</option>
                                                    {% endif%}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="name">MAC Filter</label>
                                                <select name="macfilter" class="form-control" id="">
                                                    {% if options.macfilter == 0 %}
                                                    <option value="no">No</option>
                                                    <option value="yes">Yes</option>
                                                    {%else%}
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    {% endif%}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="name">IP Filter</label>
                                                <select name="ipfilter" class="form-control" id="">
                                                    {% if options.ipfilter == 1 %}
                                                    <option value="yes">Yes</option>
                                                    <option value="no">No</option>
                                                    {%else%}
                                                    <option value="no">No</option>
                                                    <option value="yes">Yes</option>
                                                    {% endif%}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="inpolicy">Input Policy</label>
                                                <select name="inpolicy" class="form-control" id="">
                                                    {% if options.policy_in == 'REJECT' %}
                                                    <option value="REJECT">REJECT</option>
                                                    <option value="ACCEPT">ACCEPT</option>
                                                    <option value="DROP">DROP</option>
                                                    {% elif options.policy_in == 'DROP' %}
                                                    <option value="DROP">DROP</option>
                                                    <option value="ACCEPT">ACCEPT</option>
                                                    <option value="REJECT">REJECT</option>
                                                    {% else %}
                                                    <option value="ACCEPT">ACCEPT</option>
                                                    <option value="REJECT">REJECT</option>
                                                    <option value="DROP">DROP</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="outpolicy">Output Policy</label>
                                                <select name="outpolicy" class="form-control" id="">
                                                    {% if options.policy_out == 'REJECT' %}
                                                    <option value="REJECT">REJECT</option>
                                                    <option value="ACCEPT">ACCEPT</option>
                                                    <option value="DROP">DROP</option>
                                                    {% elif options.policy_out == 'DROP' %}
                                                    <option value="DROP">DROP</option>
                                                    <option value="ACCEPT">ACCEPT</option>
                                                    <option value="REJECT">REJECT</option>
                                                    {% else %}
                                                    <option value="ACCEPT">ACCEPT</option>
                                                    <option value="REJECT">REJECT</option>
                                                    <option value="DROP">DROP</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div><br>
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </form>
                                                
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <style>
        iframe{      
              display: block;  /* iframes are inline by default */   
              height: 100vh;  /* Set height to 100% of the viewport height */   
              width: 80vw;  /* Set width to 100% of the viewport width */     
              border: none; /* Remove default border */
              background: lightyellow; /* Just for styling */
              margin: auto;
          }
	img {
        border-radius: 25%;
        width: 45px;
        height: 45px;
        }
    </style>

    <!-- Required Js -->
<script src="{% static 'dashboard/js/vendor-all.min.js' %}"></script>
	<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/pcoded.min.js' %}"></script>

</body>
</html>
