{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ZCloud</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="ZCloud" />
    <meta name="keywords" content="ZCloud"/>
    <meta name="author" content="CodedThemes"/>

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'login/images/logo-128.png' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'dashboard/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'dashboard/plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/" class="b-brand">
                        <img src="{% static 'login/images/logo-128.png' %}" alt="Avatar">
                    <span class="b-title">ZCloud</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label><h5 style="color: yellow;">Cloud Servers</h5></label>
                    </li>
                    {% for vm in request.session.vms %}
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">{{vm.name}}</span></a>
                        <ul class="pcoded-submenu">
                            <li class="active"><a href="{% url 'summary' vm.name %}" class="">Summary</a></li>
                            <li class=""><a href="{% url 'console' vm.name %}" class="">Console</a></li>
                            <li class=""><a href="{% url 'backup' vm.name %}" class="">Backup</a></li>
                            <li class=""><a href="{% url 'snapshots' vm.name %}" class="">Snapshots</a></li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
            <a href="#" class="b-brand">
                   <div class="b-bg">
                       <i class="feather icon-trending-up"></i>
                   </div>
                   <span class="b-title">ZCloud</span>
               </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="javascript:">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">Notifications</h6>
                                <div class="float-right">
                                </div>
                            </div>
                            <ul class="noti-body">
                                {% for notification in notifications %}
                                  <li class="notification">
                                      <div class="media">
                                          <img class="img-radius" src="{{client.logo.url}}" alt="Generic placeholder image">
                                          <div class="media-body">
                                              <p class="ml-3"><strong><a href="{% url 'notifications' notification.id %}">{{notification.heading1}}</a> </strong></p>
                                              <p>{{notification.heading2}}</p>
                                          </div>
                                      </div>
                                  </li>
                                  {% endfor %}
                              </ul>
                            <div class="noti-footer">
                                <a href="javascript:"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="{{client.logo.url}}" class="img-radius" alt="User-Profile-Image">
                                <span>{{client.company_name}}</span>
                                <a href="#" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="{% url 'cloudservers' %}" class="dropdown-item"><i class="feather icon-clipboard"></i>Dashboard</a></li>
                                <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="feather icon-lock"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <label><h5 style="color: blue;">Summary</h5></label>
                            
                            <div class="row">
                                <div class="col-xl-8 col-md-12 m-b-30">
                                    <div class="card card-event col-xl-8">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0" id="uptime">( Uptime: {{vm.uptime}})</h5><hr>
                                                    <i class="feather icon-refresh-cw text-c-blue f-20 m-r-15"></i>
                                                </div>
                                            </div>
                                            <h2 class="mt-3 f-w-300">{{vm.name}}</h2>
                                            <h5 class="text-muted mt-4 mb-0">{{vm.status}}</h5>

                                            {% if vm.status == 'running' %}
                                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i></h3>
                                            {% else %}
                                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i></h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--[ cpu ] start-->
                            <div class="col-md-6 col-xl-4">
                                <div class="card daily-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">CPU(s)</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0">{% widthratio vm.cpu 1 100 %} %</h3>
                                            </div>

                                            <div class="col-3 text-right">
                                                <p class="m-b-0">Used</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0">{{vm.cpus}} CPU(s)</h3>
                                            </div>
                                            <br>
                                            <div class="col-3 text-right">
                                                <p class="m-b-0">Total</p>
                                            </div>
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ cpu ] end-->
                            <!--[ memory ] starts-->
                            <div class="col-md-6 col-xl-4">
                                <div class="card daily-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">Memory Usage</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0">{% widthratio vm.mem 1074000000 1%} GiB</h3>
                                            </div>

                                            <div class="col-3 text-right">
                                                <p class="m-b-0">Used</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0">{% widthratio vm.maxmem 1074000000 1%} GiB</h3>
                                            </div>
                                            <br>
                                            <div class="col-3 text-right">
                                                <p class="m-b-0">Total</p>
                                            </div>
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ memory ] end-->
                            <!--[ bootdisk ] starts-->
                            <div class="col-md-6 col-xl-4">
                                <div class="card daily-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">Bootdisk Size</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ vm.disk }} GiB</h3>
                                            </div>

                                            <div class="col-3 text-right">
                                                <p class="m-b-0">Used</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0">{% widthratio vm.maxdisk 1074000000 1%} GiB</h3>
                                            </div>
                                            <br>
                                            <div class="col-3 text-right">
                                                <p class="m-b-0">Total</p>
                                            </div>
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ bootdisk ] end-->
                            </div>
                            <!-- [ Main Content ] end -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <style>
        iframe{      
              display: block;  /* iframes are inline by default */   
              height: 100vh;  /* Set height to 100% of the viewport height */   
              width: 80vw;  /* Set width to 100% of the viewport width */     
              border: none; /* Remove default border */
              background: lightyellow; /* Just for styling */
              margin: auto;
          }
	img {
        border-radius: 25%;
        width: 45px;
        height: 45px;
        }
    </style>

    <!-- Required Js -->
    <script>
        function updateuptime(){
            var uptime = document.getElementById('uptime')
            var node = "{{request.session.node}}"
            var vmid = "{{request.session.vmid}}"
            var csrf = "{{request.session.csrf}}"
            var ticket = "{{request.session.ticket}}"
            console.log(uptime)
            console.log(node)
            console.log(vmid)
            console.log(csrf)
            console.log(ticket)
            alert('var')
            fetch(
                `https://10.0.201.30:8006/api2/json/nodes/`+ node + `/qemu/` + vmid + `/status/current`,
                {
                    headers:{"CSRFPreventionToken": csrf, "Cookie": "PVEAuthCookie="+ticket},
                    mode: 'cors'
                }
            ).then((response) => {
                console.log(response.json())
            return response.json();
            })
        }
    </script>
<script src="{% static 'dashboard/js/vendor-all.min.js' %}"></script>
	<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/pcoded.min.js' %}"></script>

</body>
</html>
